.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.background_blur {
  backdrop-filter: blur(6px);
  min-height: 100vh;
}
.home_background {
  background: url("../../assets/images/background_09.jpg") center center fixed;
  background-color: #021132;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.searchbar_home {
  width: 100%;
}

@media only screen and (min-width: 767px) {
  .searchbar_home {
    display: none;
  }
}
