.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 80px;
  border-radius: 40px;
  min-width: 400px;
  width: 100%;
  max-width: 800px;
}

.searchbar_input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #05dbf2;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding: 0px 20px;
  width: 80%;
}

.searchbar_button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  margin-left: -60px;
  outline: none;
  padding: 0px;
}

::placeholder {
  color: white;
}
