.button_distpach {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 1rem;
}
.button_distpach:hover {
  background-color: rgba(0, 0, 0, 0.445);
}
.button_distpach:hover .button_distpach_icon {
  color: #05dbf2;
}
.button_distpach:hover .button_distpach_text {
  color: #05dbf2;
}

.button_distpach_icon {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.8);
}

.button_distpach_text {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
}

.button_dispatch_active {
  background-color: rgba(0, 0, 0, 0.445);
}
.button_dispatch_active .button_distpach_icon,
.button_dispatch_active .button_distpach_text {
  color: #05dbf2;
}
