.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto auto;
  background: url("../../assets/images/background_1.jpg") center center fixed
    no-repeat;
  background-color: #021132;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing a {
  font-size: 4rem;
  text-decoration: none;
  font-weight: 500;
}

.landing a:hover {
  font-size: 4.5rem;
  font-weight: 600;
}

x-sign {
  --interval: 1s;
  display: block;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

/* x-sign{
    color: azure;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;
    font-family: Sriracha, monospace;
  } */

x-sign {
  color: dodgerblue;
  --color1: goldenrod;
  --color2: azure;
  --color3: mediumblue;
  --color4: purple;
  font-family: "Brutal Type";
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}
