.filters {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1.5rem;
  background-color: #011526aa;
  color: rgba(255, 255, 255, 0.74);
  font-family: "Roboto";
  width: 100%;
  max-width: 1250px;
  height: fit-content;
}
.filters_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
}

